<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{.file.Name}}</title>
	<link rel="stylesheet" href="/assets/app.min.css">
	<link href="/assets/images/favicon.png" rel="shortcut icon">
	{{if and .username .isOwner}}<script type="text/javascript" src="/assets/app.min.js"></script>{{end}}
</head>
<body class="view">
	<div class="container-fluid">
		{{template "fileViewHeader" .}}
		{{template "fileViewExpiry" .}}

		{{if or .stale .vanished (eq .file.Selfdestruct 1)}}
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				{{if .stale}}
					{{template "staleFileInfo" .}}
				{{else}}
					{{if .vanished}}
						<div class="alert alert-info">
							<h4><i class="fa fa-exclamation-triangle"></i> <strong>Do not refresh</strong> this page!</h4>
							<p>
								This page has been setup so that it can only be viewed <strong>once</strong>. This is it right now,
								this one time. If you refresh/reload/close the page, the content will not be here anymore.<br>
								Please copy the information below, if needed.
							</p>
						</div>
					{{else}}
						{{if eq .file.Selfdestruct 1}}
							<div class="alert alert-info">
								<h4><i class="fa fa-bomb"></i> Self Destruct enabled</h4>
								<p>
									This paste will destroy itself after the first access to it, though you as the author
									may access this file as often as you like until it has been destroyed.
								</p>
							</div>
						{{end}}
					{{end}}
				{{end}}
			</div>
		</div>
		{{end}}

		{{if not .stale}}
		<div class="row">
			<div class="col-lg-12">
				{{if not .vanished}}
					<p class="raw-link"><a href="{{.rawURI}}">Raw ({{filesize .file.Size}})</a></p>
				{{end}}
				<div class="highlighted"><pre>{{.content}}</pre></div>
			</div>
		</div>
		{{end}}
	</div>
</body>
</html>
