<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{.file.Name}}</title>
	<link rel="stylesheet" href="/assets/app.min.css">
	<link href="/assets/images/favicon.png" rel="shortcut icon">
	{{if and .username .isOwner}}<script type="text/javascript" src="/assets/app.min.js"></script>{{end}}
</head>
<body class="view">
	<div class="container">
		<div class="row" id="file-header">
			{{if .username}}
				<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
					<h1>{{shorten .file.Name 50}}</h1>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
					{{if .isOwner}}
					<form method="post" action="{{.viewURI}}">
						<h1 class="filebuttons">
							<input type="hidden" name="csrftoken" value="{{.csrfToken}}">
							<input type="hidden" name="_method" value="DELETE">
							<button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> Delete</button>
							<a href="/" class="btn btn-default btn-sm"><i class="fa fa-home"></i></a>
						</h1>
					</form>
					{{else}}
					<h1 class="filebuttons">
						<a href="/" class="btn btn-default btn-sm"><i class="fa fa-home"></i></a>
					</h1>
					{{end}}
				</div>
			{{else}}
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h1>{{.file.Name}}</h1>
				</div>
			{{end}}
		</div>

		{{if and .username .isOwner .expires}}
		<div class="row">
			<div class="col-lg-12 text-center">
				<small>(expires {{timeago .file.ExpiresTime}})</small>
			</div>
		</div>
		{{end}}

		{{if or .stale .vanished (eq .file.Selfdestruct 1)}}
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				{{if .stale}}
					<div class="alert alert-info">
						<h4><i class="fa fa-bomb"></i> Self Destructed</h4>
						<p>
							This content has already been accessed and deleted; all that is left is some meta information.<br>
							You can delete the remainders as well by using the regular delete function above.
						</p>
					</div>

					<dl class="dl-horizontal">
						{{with .file.DestructorData}}
						<dt>Access at</dt>
						<dd>{{.Time}}</dd>
						<dt>Access by</dt>
						<dd>{{if eq .Username ""}}anonymous user{{else}}{{.Username}}{{end}}</dd>
						<dt>User Agent</dt>
						<dd>{{.UserAgent}}</dd>
						<dt>IP Address</dt>
						<dd>{{.IpAddress}}</dd>
						{{end}}
					</dl>
				{{else if eq .file.Selfdestruct 1}}
					{{if .isOwner}}
					<div class="alert alert-info">
						<h4><i class="fa fa-bomb"></i> Self Destruct enabled</h4>
						<p>
							This file will destroy itself after the first access to it, though you as the author
							may access this file as often as you like until it has been destroyed.
						</p>
					</div>
					{{else}}
					<div class="alert alert-info">
						<h4><i class="fa fa-bomb"></i> Self Destruct enabled</h4>
						<p>
							This file has been setup so that it can only be downloaded <strong>once</strong>.<br>
							Please make sure to not accidentally abort or discard the file once you've clicked
							<em>Download</em>, because you will not be able to restart a failed download.
						</p>
					</div>
					{{end}}
				{{end}}
			</div>
		</div>
		{{end}}

		{{if not .stale}}
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center download">
				<div class="fileicon">{{.icon}}</div>
				<h2>
					<a href="{{.rawURI}}"><i class="fa fa-download"></i> Download</a><br>
					<small>({{filesize .file.Size}})</small>
				</h2>
			</div>

			{{if .filehash}}
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center download">
				<p class="hash"><small><i class="fa fa-tag"></i> SHA-1: {{.filehash}}</small></p>
			</div>
			{{end}}
		</div>
		{{end}}
	</div>
</body>
</html>
