<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{.file.Name}}</title>
	<link rel="stylesheet" href="/assets/app.min.css">
	<link href="/assets/images/favicon.png" rel="shortcut icon">
	{{if and .username .isOwner}}<script type="text/javascript" src="/assets/app.min.js"></script>{{end}}
</head>
<body class="view">
	<div class="container">
		{{template "fileViewHeader" .}}
		{{template "fileViewExpiry" .}}

		{{if or .stale .vanished (eq .file.Selfdestruct 1)}}
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				{{if .stale}}
					{{template "staleFileInfo" .}}
				{{else if eq .file.Selfdestruct 1}}
					{{if .isOwner}}
					<div class="alert alert-info">
						<h4><i class="fa fa-bomb"></i> Self Destruct enabled</h4>
						<p>
							This file will destroy itself after the first access to it, though you as the author
							may access this file as often as you like until it has been destroyed.
						</p>
					</div>
					{{else}}
					<div class="alert alert-info">
						<h4><i class="fa fa-bomb"></i> Self Destruct enabled</h4>
						<p>
							This file has been setup so that it can only be downloaded <strong>once</strong>.<br>
							Please make sure to not accidentally abort or discard the file once you've clicked
							<em>Download</em>, because you will not be able to restart a failed download.
						</p>
					</div>
					{{end}}
				{{end}}
			</div>
		</div>
		{{end}}

		{{if not .stale}}
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center download">
				<div class="fileicon">{{.icon}}</div>
				<h2>
					<a href="{{.rawURI}}"><i class="fa fa-download"></i> Download</a><br>
					<small>({{filesize .file.Size}})</small>
				</h2>
			</div>

			{{if .filehash}}
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center download">
				<p class="hash"><small><i class="fa fa-tag"></i> SHA-1: {{.filehash}}</small></p>
			</div>
			{{end}}
		</div>
		{{end}}
	</div>
</body>
</html>
