<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{.file.Name}}</title>
	<link rel="stylesheet" href="/assets/app.min.css">
	<link href="/assets/images/favicon.png" rel="shortcut icon">
	{{if and .username .isOwner}}<script type="text/javascript" src="/assets/app.min.js"></script>{{end}}
</head>
<body class="view">
	<div class="container">
		{{template "fileViewHeader" .}}
		{{template "fileViewExpiry" .}}

		{{$showDownloadLink := false}}

		{{if or .stale (eq .file.Selfdestruct 1)}}
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				{{if .stale}}
					{{template "staleFileInfo" .}}
				{{else if eq .file.Selfdestruct 1}}
					{{if .isOwner}}
					<div class="alert alert-info">
						<h4><i class="fa fa-bomb"></i> Self Destruct enabled</h4>
						<p>
							This image will destroy itself after the first access to it, though you as the author
							may access this image as often as you like until it has been destroyed.
						</p>
					</div>
					{{$showDownloadLink := true}}
					{{else}}
					<div class="alert alert-info">
						<h4><i class="fa fa-exclamation-triangle"></i> <strong>Do not refresh</strong> this page!</h4>
						<p>
							This image has been setup so that it can only be viewed <strong>once</strong>. This is it right now,
							this one time. If you refresh/reload/close the page, the image will not be here anymore.<br>
							If your browser allows it, you can right-click on the image and save it to your disk.
						</p>
					</div>
					{{end}}
				{{end}}
			</div>
		</div>
		{{end}}

		{{if not .stale}}
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
				<p><img class="img-responsive" src="{{.rawURI}}" alt="{{.file.Name}}"></p>
				{{if or (eq .file.Selfdestruct 0) (.isOwner)}}
				<p class="raw-link"><a href="{{.rawURI}}"><i class="fa fa-download"></i> Download image ({{filesize .file.Size}})</a></p>
				{{end}}
			</div>
		</div>
		{{end}}
	</div>
</body>
</html>
