; systemd example unit
; Put this file in /etc/systemd/system/ and then enable&start the service:
;   # systemctl enable hosty
;   # systemctl start hosty

[Unit]
Description=hosty webapp

[Service]
User=hosty
Group=hosty
WorkingDirectory=/srv/www/hosty
ExecStart=/srv/www/hosty/hosty serve config.yaml

[Install]
WantedBy=multi-user.target
